<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Don't Make Me Wait</title>
    <link rel="icon" type="image/png" href="emi_icon.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
        function clipboard(element) {
            var copyText = document.getElementById(element);
            copyText.select();
            document.execCommand("Copy");
        }
    </script>
</head>