#home {
    @include clearfix;
    position: relative;
    flex: 1;
}

#homepage_bot {
    width: 100%;
    height: 100%;

    iframe {
        border: 0;
        height: 100%;
        width: 100%;
    }
}

#welcome {
    display: none;
}

